<li>
	{{name}}

	<button class="change-eaten button btn btn-primary" data-id="{{this.id}}" data-neweaten="{{this.eaten}}">
		{{#if eaten}}EATEN{{else}}NOT EATEN{{/if}}
	</button>

	<button class="delete-burger button btn btn-danger" data-id="{{this.id}}">DELETE!</button>
</li>